@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 37 91% 5%;
    --background: 40 100% 98%;
    --primary: 39 88% 57%;
    --secondary: 16 89% 52%;
    --accent: 0 96% 48%;
  }
  .dark {
    --text: 37 92% 95%;
    --background: 42 100% 2%;
    --primary: 39 88% 43%;
    --secondary: 16 89% 48%;
    --accent: 0 96% 52%;
  }
}
