@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@font-face {
  font-family: "Rubik-Medium";
  src: url("../public/Rubik-Medium.ttf") format("truetype");
}

html {
  font-family: "Lato", "Rubik-Medium", sans-serif;
  scroll-behavior: smooth;
}

.bg-hats {
  background-image: url("../public/hats_bg.svg");
  background-position: center;
}
